@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}
/* antd override */

input{
  border-radius: 2px !important;
  border: 1px solid rgba(128, 128, 128, 0.521) !important;
  height: 40px !important;
}

input:focus , .ant-picker
{
  outline: none !important;
  box-shadow: 0 !important;
  border: 1px solid gray !important;
}

label{
  font-size: 16px !important;
  color: black;
}

.ant-form-item
{
  margin: 10px 0 !important;
}
.ant-picker-input input
{
  border: none !important ;
}

.ant-picker
{
  height: 40px !important;
}
/* common styling */

.spinner-border
{
  width: 5rem;
  height: 5rem;
  color: white !important;
}
.spinner-parent
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
.page-title
{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.853);
  font-weight: bold;
}
.card{
  box-shadow: 0 0 2px gray;
  border-radius: 0 !important;
}

.normal-text
{
  font-size: 1rem;
}
.card-title
{
  font-size: 22px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.671);
}
.primary-button
{
  background-color: #005555 !important;
  border-color: #005555 !important;
  height: 40px;
  color: white;
  font-size: 16px;
  width: max-content;
}
.full-width-btn
{
  width: 100% !important;
}
.anchor
{
  color: black !important;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}
.anchor:hover
{
  text-decoration: underline !important;
}
p
{
  color: rgba(0,0,0,0.8);
  margin: 0 !important;
  padding: 0 !important;
}
.cursor-pointer{
  cursor: pointer;
}
/* authentication pages*/
.authentication
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #005555;
}

.authentication-form
{
  width: 400px;
}

.authentication .card-title
{
  font-size: 1.5rem;
  background-color: orangered;
  max-width: max-content;
  color: white;
  font-weight: bold;
  padding: 7px 15px;
  margin-left: -40px;
}